@page
@model WebApplication1.Pages.Admin.AdminEditProductModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "AdminEditProduct";
}




<div class="container">
    @Html.Partial("_StatusMessage", Model.StatusMessage)
    <h2>AdminEditProduct</h2>

    <h4>Product</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Product.ID" />
                <div class="form-group">
                    @*vraag me af of het nodig is, voorheen werd het op null gezet als het er niet stond -> kijk hier naar*@
                    <input type="hidden" asp-for="Product.QueryName" class="form-control" data-val="true" />
                    <span asp-validation-for="Product.QueryName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product.ResponseName" class="control-label"></label>
                    <input asp-for="Product.ResponseName" class="form-control" id="name" data-val="true" data-val-required="The Response field is required." />
                    <span asp-validation-for="Product.ResponseName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Product.GenreIsAction" /> @Html.DisplayNameFor(model => model.Product.GenreIsAction)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Product.GenreIsAdventure" /> @Html.DisplayNameFor(model => model.Product.GenreIsAdventure)
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Product.GenreIsRacing" /> @Html.DisplayNameFor(model => model.Product.GenreIsRacing)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Product.GenreIsMassivelyMultiplayer" /> @Html.DisplayNameFor(model => model.Product.GenreIsMassivelyMultiplayer)
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Product.PriceFinal" class="control-label"></label>
                    <input asp-for="Product.PriceFinal" class="form-control" data-val="true" data-val-required="The Price field is required." data-val-regex="No negative numbers" data-val-regex-pattern="^[1-9]+$" />
                    <span asp-validation-for="Product.PriceFinal" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Product.AboutText" class="control-label"></label>
                    <input asp-for="Product.AboutText" class="form-control" data-val="true" data-val-required="The Abouttext field is required." />
                    <span asp-validation-for="Product.AboutText" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product.HeaderImage" class="control-label"></label>
                    <input asp-for="Product.HeaderImage" class="form-control" data-val="true" data-val-url="Invalid file type, use image in form of http:// or https:// or FTP URL" />
                    <span asp-validation-for="Product.HeaderImage" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="/Shopping" class="btn btn-primary">Back to Shopping</a> &nbsp;&nbsp;
        <a asp-page="/Admin/Admin" class="btn btn-primary">Back to Admin-panel</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
