@page
@model WebApplication1.Pages.Admin.UserManageModel
@{
    ViewData["Title"] = "UserManage";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <h2>UserManage</h2>
    <a asp-page="AdminCreateUser" class="btn" id="AdminCreateUserButton">Create User</a>
    <a asp-page="Admin" class="btn">Back</a>
    <table class="table">
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
        @{
            foreach (var item in Model.Users)
            {
                <tr>
                    <td>@item.Email</td>
                    <td>@item.Name @item.LastName</td>
                    <td><a asp-page="AdminEditUser" asp-route-UserID="@item.Id">read/edit</a></td>
                    <td><a asp-page-handler="delete" asp-route-UserID="@item.Id">Delete</a></td>
                </tr>
            }
        }
    </table>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-6" style="margin-top:10em;margin-bottom:10em;">
                <p>You are lost go to<a asp-page="/Index" class="btn btn-info">Home</a></p>
            </div>
        </div>
    </div>
    <script>
        window.location.replace("https://localhost:44358")
    </script>
}