@page
@model WebApplication1.Pages.Wishlist.WishlistModel
@{
    
}


<div class="container">
    <div class="row">
        <h2 style="font-family: 'Rubik', sans-serif; font-weight:900;">FAVORITES <i class="fas fa-heart" style="color:red;"></i></h2>
        <span style="padding:0px 350px "></span>
        <div>
            <a class="btn btn-warning float-right" style="margin-top:10px; margin-bottom:10px" asp-page="/Shopping">Continue Shopping</a>
        </div>

        <table class="table">

            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @{

                    foreach (var item in Model.Wishlistitems)
                    {
                <tr>
                     <td >
                        <form asp-page="DeleteItemWishList" method="post">
                            <input type="hidden" name="wish" value="@item.Product_ID" />
                            <input type="hidden" name="id" value="@item.User_ID" />
                            <button type="submit" class="close float-left align-self-lg-center" title="Remove this product" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </form>
                        <span style="margin-left:10px; "></span>
                        <img src="@item.Product.HeaderImage" style="width:15%; height:15%;" alt="We could not load your image" />
                        @item.Product.ResponseName
                    </td>
                    <td>€ @item.Product.PriceFinal</td>
                    <td>
                        <form asp-page="../ShoppingCartController" method="post">
                            <input type="hidden" name="productid" value="@item.Product.ID" />
                            <input type="submit" value="Add to Cart" class="btn btn-success btn-sm" />
                        </form>
                     </td>
                </tr>
                    }
                }

            </tbody>

        </table>
    </div>
</div>

<style>
    .container {
        margin-top: 1.5em;
    }

    .border {
        border-width: 1px !important
    }
</style>