@page
@model AboutModel
@{
    ViewData["Title"] = "About";

}
<h2>@ViewData["Title"]</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.employee[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employee[0].QueryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employee[0].HeaderImage)
            </th>
        </tr>
        </thead>

<tbody>
    @foreach (var item in Model.employee)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QueryName)
        </td>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.HeaderImage)" style="width:100px; height:auto;"/>
        </td>
    </tr>
    }
    </tbody>
</table>

