@page
@model WebApplication1.Pages.ShoppingCartModel
@{
    ViewData["Title"] = "ShoppingCart";
}
<h2>ShoppingCart</h2>

<h2>ShoppingCart</h2>

@if (Model.YourCart == null)
{
    <br />
    <h6>Oops! Your Cart is empty!</h6>
    return;
}

<table class="table">
       <thead>
           <tr>
           <th>Name</th>
            <th>Price</th>
               </tr>
       </thead>
    <tbody>
@foreach (var item in Model.Products)
{
    
    
    <tr>
        <td>@item.product.ResponseName</td>
        <td>@item.product.PriceFinal</td>
        <td>@item.quantity</td>
        
        <td>
            <form asp-page="deleteproduct" method="post">
                <input type="hidden" name="id" value="@item.product.ID" />
                <input type="hidden" name="cartid" value="@Model.YourCart.ID" />
                <input type="submit" value="delete the product" />
            </form>
        </td>
        

    </tr>


}
</tbody>
    </table>
<a asp-page="./Shopping">Continue Shopping</a>

