@page
@model WebApplication1.Pages.ShoppingCartModel
@{

    decimal total = 0;
}
<!--<h2>ShoppingCart</h2>-->

<div class="container">
    <div class="row border" >
        <h2>Cart <i class="fas fa-shopping-cart"></i></h2>
        <span style="padding:0px 350px "></span>
        <div>
            <a class="btn btn-primary float-right" style="margin-top:10px; margin-bottom:10px" asp-page="./Shopping">Continue Shopping</a>
        </div>
         <table class="table">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Sub total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model._Products)
                {
                    total = total += (decimal)(item.product.PriceFinal * item.quantity);

                <tr>
                    <td> <img src="@item.product.HeaderImage" style="width:15%; height:15%;" alt="We could not load your image" />
                    @item.product.ResponseName</td>
                    <td> € @item.product.PriceFinal</td>
                    <td>
                        @{ if (Model.YourCart != null)
                            {
                                <form asp-page="deleteproduct" method="post" class="d-inline align-middle ">
                                    <input type="hidden" name="id" value="@item.product.ID" />
                                    <input type="hidden" name="cartid" value="@Model.YourCart.ID" />
                                    <input type="submit" value="-" class="btn btn-light" />
                                </form>
                                <span style="padding:1px 10px"> @item.quantity</span>
                                <form asp-page="ShoppingCartController" method="post" class="d-inline align-middle  ">
                                    <input type="hidden" name="productid" value="@item.product.ID" />
                                    <input type="submit" value="+" class="btn btn-light" />
                                    
                                </form>
                            }
                           else
                           {
                               <form asp-page="deleteproduct" method="post" class="d-inline align-middle ">
                                   <input type="hidden" name="id" value="@item.product.ID" />
                                   <input type="submit" value="-" class="btn btn-light" />
                               </form>
                               <span style="padding:1px 10px"> @item.quantity</span>
                               <form asp-page="ShoppingCartController" method="post" class="d-inline align-middle  ">
                                   <input type="hidden" name="productid" value="@item.product.ID" />
                                   <input type="submit" value="+" class="btn btn-light" />
                                    
                               </form>
                           }
                        }
                    </td>
                    <td>
                        € @(item.product.PriceFinal * item.quantity)
                    </td>
                    <td>
                        @{if (Model.YourCart != null)
                            {
                                <form asp-page="deleteproduct" method="post" asp-page-handler="Deleteitem">
                                    <input type="hidden" name="id1" value="@item.product.ID" />
                                    <input type="hidden" name="cartid1" value="@Model.YourCart.ID" />
                                    <!--<input type="submit" value="Delete from cart" class="btn-danger">-->
                                    <button type="submit" class="close float-lg-left" title="Remove this product" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </form>
                             }
                          else
                          {
                              <form asp-page="deleteproduct" method="post" asp-page-handler="Deleteitem">
                                  <input type="hidden" name="id1" value="@item.product.ID" />
                                  <!--<input type="submit" value="Delete from cart" class="btn-danger">-->
                                  <button type="submit" class="close float-lg-left" title="Remove this product" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              </form>
                          }
                        }
                    </td>
                </tr>
                }
             </tbody>
        </table>
    </div>
    <br /><br />
           
          <div class="row">
              <div class="col-md-6">
                  @if (Model.YourCart != null)
                  {

                      <form asp-page="deleteproduct" method="post" asp-page-handler="Deletecart">
                          <input type="submit" value="Clear Cart" class="btn btn-danger">
                          @*<input type="submit" value="delete the whole cart" />*@
                      </form>
                  }
              </div>

              <div class="col-md-6 border" style="padding-bottom: 10px">
                  <h2>Cart totals</h2>
                  <table class="table">
                      <tbody>
                          <tr>
                              <th>Sub Total</th>
                              <td>Total: € @total</td>
                          </tr>
                          <tr>
                              <th>Total</th>
                              <td>Total: € @total</td>
                          </tr>
                      </tbody>
                  </table>
                  @if (Model._Products.Count > 0)
                  {
                      <div>
                          <a class="btn btn-primary float-right" asp-page="Checkout">Proceed to Checkout</a>
                      </div>
                  }
              </div>
          </div>
</div>

<style>
    .container  {
        margin-top: 1.5em;
    }
    .border     {
        border-width: 1px !important
    }
</style>